.agenda-item {
  background-color: #EDE2CD;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 14px;

  margin-bottom: 15px;
  flex-wrap: wrap;
}

.agenda-item-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;

}
.agenda-item-information p {
  margin: 0px;
  padding: 2px;
  font-weight: bold;
  color: #444444;
}

.agenda-item-information h1 {
  font-size: 16px;
  padding-bottom: 5px;
  margin: 0px;
  color: black;
}

.show-hide-description {
  width: 100px;
  font-size: 10px;
  background-color: #D8B574;
}

.agenda-item-info-1 {
  display: flex;
  flex-direction: column;
  width: 170px;
}


.agenda-item-info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agenda-item-button-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.agenda-item-buttons {
  display: flex;
  justify-content: center;
  max-width: 100px;
}
.description {
  margin: 2px;
  max-width: 160px;
  border-style: solid;
  border-color: #555555;
  border-radius: 5px;
  background-color: white;
  font-size: 13px;
}

.agenda-item-when {
  background-color: white;
  border-radius: 3px;
}

.agenda-item-delete-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.agenda-item-subscribe-button {
  max-height: 40px;
}

.agenda-item-show-hide-subscribers {
  max-height: 40px;
  width: auto;
  font-size: 10px;
  background-color: #DEB15D;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  width: auto;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content li:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}