.button {
  background-color: darkblue;
  color: #fff;
  font-size: 16px;
  border: none;
  font-weight: bold;
  padding: 8px 12px;
  text-align: center;
  border-radius: 6px;
}

.button:hover {
  background-color: rgb(1, 1, 82);
}
