.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

main {
  padding: 40px;
  padding-top: 60px;
  background-color: #eee;
}

.profile-nav {
  position: fixed;
  top: 0;
  right: 0;
  background: blue;
  padding: 10px;
  color: #fff;
}

.profile-link {
  color: #fff;
}
