.login-template {
  padding: 50px;
  background-color: rgb(55, 137, 231);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}

.login-form {
  width: 400px;
  background: #ffffff;
  border: 1px solid #d7dedd;
  box-sizing: border-box;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.04), 0px 4px 3.25px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  padding: 40px;

  @media screen and (max-width: 600px) {
    padding: 20px;
  }
}

.login-title {
  font-size: 26px;
  margin: 0;
  margin-bottom: 15px;
}

.divider {
  display: flex;
  width: 100%;
  line-height: 1;
  &:after,
  &:before {
    content: '';
    border-top: 1px solid #ccc;
    flex: 1 1;
    margin: auto;
  }
  &:after {
    margin-left: 10px;
  }
  &:before {
    margin-right: 10px;
  }
}

.signin-button {
  margin-top: 20px;
  width: 100%;
}

.signup-button {
  width: 100%;
}
