.avatar-page {
  display: flex;
  flex-direction: column;
  background-color: #EEC881;
  align-items: center;
  border: 1px solid #bd8c30;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.avatar-dropzone {
  aspect-ratio: 16/9;
  background-color: #cccccc;
  border: 2px dashed black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 5px 10px 18px #888888;

  &.has-image {
    border: 2px solid black;
  }

  .avatar {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &:hover {
    .avatar {
      opacity: 0.3;
    }
  }
}

.user-info {
  display: flex;
  flex-direction: column;

}
.user-info p {
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  border-style: solid;
  box-shadow: 5px 10px 18px #888888;
  font-weight: normal;
}